/* checkout */

.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.div-checkout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13rem;
    margin-top: 16rem;
}
.div-checkout h2 {
    font-size: 5rem;
}
.div-checkout p {
    font-size: 2.5rem;
}
.div-checkout a {
    color: white;
    background-color: cornflowerblue; 
    border: 3px solid white;
    border-radius: 10px ;
    width: 30rem;
    font-size: 3rem;
    text-align: center;
    text-decoration: none;
    color: inherit;
    margin-top: 9rem;
}




/* form */

.div-form  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-checkout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: cornflowerblue; 
    border: 3px solid white;
    border-radius: 20px ;
    gap: 0.5rem;
    margin-top: 13rem;
    font-size: 2.5rem;
    padding: 3.5rem 5rem 3.5rem 5rem;
}

.form-checkout label {
    margin-bottom: 0rem;
}

.form-checkout input {
    color: cornflowerblue;
    border: 3px solid white;
    border-radius: 20px ;
    padding: 0.4rem;
    margin-bottom: 3rem;
    font-size: 1.7rem;
}

.form-checkout button {
    color: cornflowerblue;
    background-color: white; 
    border: 3px solid cornflowerblue;
    border-radius: 20px ;
    font-size: 2rem;
    padding: 0.7rem;
    margin-top: 2rem;
}






.Toastify__toast {
    color: white !important;
    background-color: cornflowerblue !important; 
    border: 3px solid white;
    border-radius: 20px ;
    font-size: 1.4rem;
    font-family: "Arial Black";
}