.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 4rem;
    padding: 2rem;
}
.navbar a {
    text-decoration: none;
    color: white;
}

.brand {
    font-size: 5rem;
    margin-left: 2rem ;
    color: white;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    gap: 9rem;
}  