* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Arial Black";
}

html {
  font-size: 62.5%; 
}

body {
  background-image:url('./assets/cancha-padel.avif');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  backdrop-filter: blur(10px);
  min-height: 100vh;
  color: white;
}
