.item-div {
    display: flex;
    flex-direction: column;
}


.item-div div {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 2rem;
    margin-top: 0rem;
    margin-bottom: 5rem;
}


.item-rest {
    color: cornflowerblue;
    background-color: white; 
    border: 3px solid cornflowerblue;
    border-radius: 8px ;
    align-items: center; 
    font-size: 2rem; 
    width: 3rem;
}
.item-rest {
    cursor: pointer;
}

.item-add {
    color: cornflowerblue;
    background-color: white; 
    border: 3px solid cornflowerblue;
    border-radius: 10px ;
    font-size: 2rem;
    width: 3rem;
}
.item-add:hover {
    cursor: pointer;
}

.item-count {
    font-size: 2rem;
}



.item-add-cart {
    width: 25rem;
    height: 4rem;
    font-size: 2rem; 
    align-items: center; 
    color: cornflowerblue;
    background-color: white; 
    border: 3px solid cornflowerblue;
    border-radius: 10px ;
}
.item-add-cart:hover {
    cursor: pointer;
}